{% extends 'blog/blog.html' %}
{% load my_tags_blog %}
{% block content%}

<div class="col-md-12">
    <div class="card mb-8 box-shadow">
        <!-- Изображение -->
        <img class="img-fluid mx-auto" style="width: 50%" src="{{ object.img_preview|mymedia }}" alt="Card image cap">
    </div>
    <div class="card mb-8 box-shadow">
        <div class="card-body">
            <p class="card-text bold fs-5 text-md-start text-center">{{ object.title }} ({{ object.slug }})</p>
            <p class="card-text">{{ object.content}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{ object.views_count }} 👁️</small> <!-- Просмотры сверху -->
                <small class="text-muted">{{ object.date_of_creation|date:"d.m.Y H:i" }}</small> <!-- Дата внизу -->
            </div>
        </div>
    </div>
    <div class="btn-group">
        <a class="p-2 btn btn-outline-primary btn-outline-secondary" href="{% url 'blog:blog' %}">Вернуться в блог</a>
    </div>
</div>
{% endblock %}