{% extends 'catalog/category.html' %}
{% load my_tags %}
{% block content%}
<div class="row justify-content-center">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
<!--            <img class="card-img-top" src="/media/{{ object.image_preview }}" alt="Card image cap">-->
            <img class="card-img-top" src="{{ object.image_preview|mymedia }}" alt="Card image cap">
            <div class="card-body">
                <p class="card-text fw-bold fs-5">{{ object.name }}</p>
                <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Купить (в корзину)</button>
                    </div>
                    <small class="text-muted">{{ object.purchase_price }} руб</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
